<div layout="column" class="wrapper" style="background-color:#ebeff1;">
<div flex class="header-color header">
  <div layout="row">

    <div flex>
      <div class="row">
        <div class="col-md-5 offset-md-2 pt-4">
          <h5 ng-click="$ctrl.home()" class="text-white logo-text pr-2">Riyaz Enterprises</h5>
          <img ng-click="$ctrl.home()" src="images/logo.png" alt="no image found" class="logo pl-3">
        </div>
      </div>
    </div>
    <div flex>
      <md-content class="md-padding">
        <md-icon aria-label="Menu" class="material-icons text-white">phone</md-icon>
        <span class="text-white header-text">9049035958</span>
        <md-icon aria-label="Menu" class="material-icons text-white">email</md-icon>
        <span class="text-white  header-text">akhlshaikh28@gmail.com</span>

        <md-button class="md-accent md-raised md-hue-2 text-white pl-3 pr-3">Send Inquiry</md-button>
      </md-content>
    </div>
  </div>
</div>

<scroll-fix flex class="nav-bar-contaienr" fixed="$ctrl.fixedNav">
  <div class="row">
    <div class="col-md-2 offset-md-1 ">
      <img src="images/logo.png" ng-show="$ctrl.fixedNav" alt="no image found" class="logo-in-fixed-nav">
    </div>
    <div class="col-md-6" style="z-index:81">
      <nav-menu items="$ctrl.navItems" class="nav-link-btn"></nav-menu>
    </div>

  </div>

</scroll-fix>