<div class="card-item-tag">
    Popular

</div>

<md-card style="overflow:hidden" class="text-md-center">

<img ng-click="ctrl.showDetails()" ng-src="images/1.jpg" class="md-card-image card-item-image" alt="Washed Out">
<md-card-title>
    <md-card-title-text>
        <span class="card-item-product-text">Living Room</span>
        <span class="card-item-product-text-below">(dark Matte Finish)</span>

    </md-card-title-text>
</md-card-title>
<md-card-content>

    <md-button ng-click="ctrl.showDetails('header')" class="md-raised md-warn pl-3 pr-3 card-item-btn-viewProd">View</md-button>
</md-card-content>

</md-card>
