<div flex>
  <!-- <hr class="invisible" /> -->
  <md-content class="md-padding mt-1" style="background-color:white;">
<div class="container">
  <div class="row ">
    <div class="col-md-12 text-md-center">
      <ul class="breadcrumb" style='background-color: #ffffff;
    padding: 0px;
    margin: 0px;
    color:#999999'>
<li class="breadcrumb-item">Home</li>
<li class="breadcrumb-item">New</li>
<li class="breadcrumb-item ">Experience Centers</li>
<li class="breadcrumb-item ">Bedroom</li>
</ul>
<h4>Living Room</h4>
<span class="card-item-product-text-below">(30 products)</span>
</div>

</div>
<div class="row">
  <div class="col-md-12">
    <hr class="invisible m-0 mt-2" />
    <md-divider></md-divider>
    <md-content class="md-padding" style="background-color:white;">
<span class="m-3">SORT BY : </span>

<md-button class="md-raised md-accent" style="margin: 0px;
    font-size: 12px;
    padding-left: 13px;
    padding-right: 8px;">Popular<md-icon style="     font-size: 16px;
    line-height: 22px;" class="material-icons">expand_less</md-icon>
</md-button>

</md-content>

<md-divider></md-divider>
<hr class="invisible" />

</div>

</div>
<div class="row">

  <div layout="row" layout-align="space-between center">

    <div flex layout="row">
      <div flex class="text-md-center">
        <md-card style="overflow:hidden">
<div class="card-item-tag">
  Popular

</div>

<img ng-src="images/1.jpg" class="md-card-image card-item-image" alt="Washed Out">
<md-card-title>
  <md-card-title-text>
    <span class="card-item-product-text">Living Room</span>
    <span class="card-item-product-text-below">(dark Matte Finish)</span>

  </md-card-title-text>
</md-card-title>
<md-card-content>



  <md-button class="md-raised md-warn pl-3 pr-3 card-item-btn-viewProd">View Product</md-button>
</md-card-content>

</md-card>

</div>


<div flex style="text-align:center">
<md-card>
  <img ng-src="images/2.jpg" class="md-card-image" alt="Washed Out">
  <md-card-title>
    <md-card-title-text>
      <span class="md-headline">Kitchen</span>
    </md-card-title-text>
  </md-card-title>
  <md-card-content>


    <md-button class="md-raised md-warn card-item-btn">Shop Now</md-button>


  </md-card-content>

</md-card>

</div>


<div flex style="text-align:center">
<md-card>
  <img ng-src="images/3.jpg" class="md-card-image" alt="Washed Out">
  <md-card-title>
    <md-card-title-text>
      <span class="md-headline">Bathroom</span>
    </md-card-title-text>
  </md-card-title>
  <md-card-content>


    <md-button class="md-raised md-warn card-item-btn">Shop Now</md-button>
  </md-card-content>

</md-card>

</div>
</div>




</div>

</div>

</div>

</md-content>
</div>