<div flex>
  <!-- <hr class="invisible" /> -->
  <md-content class="md-padding mt-1" style="background-color:white;">
<div class="container">
  <div class="row ">
    <div class="col-md-12 text-md-center">
      <ul class="breadcrumb" style='background-color: #ffffff;
    padding: 0px;
    margin: 0px;
    color:#999999'>
<li class="breadcrumb-item">Home</li>
<li class="breadcrumb-item">New</li>
<li class="breadcrumb-item ">Experience Centers</li>
<li class="breadcrumb-item ">Bedroom</li>
</ul>
<h4>Living Room</h4>
<span class="card-item-product-text-below">(30 products)</span>
</div>

</div>
<div class="row">
  <div class="col-md-12">
    <hr class="invisible m-0 mt-2" />
    <md-divider></md-divider>
    <md-content class="md-padding" style="background-color:white;">
<span class="m-3">SORT BY : </span>

<md-button class="md-raised md-accent" style="margin: 0px;
    font-size: 12px;
    padding-left: 13px;
    padding-right: 8px;">Popular<md-icon style="     font-size: 16px;
    line-height: 22px;" class="material-icons">expand_less</md-icon>
</md-button>

</md-content>

<md-divider></md-divider>
<hr class="invisible" />

</div>

</div>
<div class="row">

    <div class="col-md-12">
      <div layout="row" >

        <div class="flex">
          <card-item></card-item>
        </div>
        <div class="flex">
          <card-item></card-item>
        </div>
        <div class="flex">
          <card-item></card-item>
        </div>
      </div>

    </div>



</div>
<div class="row">

    <div class="col-md-12">
      <div layout="row" >

        <div class="flex">
          <card-item></card-item>
        </div>
        <div class="flex">
          <card-item></card-item>
        </div>
        <div class="flex">
          <card-item></card-item>
        </div>
      </div>

    </div>



</div>

<div class="row">

    <div class="col-md-12">
      <div layout="row" >

        <div class="flex">
          <card-item></card-item>
        </div>
        <div class="flex">
          <card-item></card-item>
        </div>
        <div class="flex">
          <card-item></card-item>
        </div>
      </div>

    </div>



</div>

<div class="row">

    <div class="col-md-12">
      <div layout="row" >

        <div class="flex">
          <card-item></card-item>
        </div>
        <div class="flex">
          <card-item></card-item>
        </div>
        <div class="flex">
          <card-item></card-item>
        </div>
      </div>

    </div>



</div>
</div>




</div>

</div>

</div>

</md-content>
</div>
