
<div class="fab-scroll-to-top-btn">
  <md-button class="md-fab md-mini" aria-label="Eat cake">
               <md-icon aria-label="Menu" class="material-icons text-white">expand_less</md-icon>
  </md-button>
</div>

<!-- <div class="fab-fix-chat-btn">
  <md-button class="md-fab"><md-icon aria-label="Menu" class="material-icons text-white">chat</md-icon></md-button>
</div> -->


<div layout="column" class="wrapper" style="background-color:#ebeff1;">
  <div flex  class="header-color header">
    <div layout="row">

        <div flex>
          <div class="row">
            <div class="col-md-5 offset-md-2 pt-4">
              <h5 class="text-white logo-text pr-2">Riyaz Enterprises</h5>
                <img src="images/logo.png" alt="no image found" class="logo pl-3">
            </div>


          </div>


        </div>
        <div flex>
            <md-content class="md-padding" >
          <md-icon aria-label="Menu" class="material-icons text-white">phone</md-icon>
      <span class = "text-white header-text">9049035958</span>
      <md-icon aria-label="Menu" class="material-icons text-white">email</md-icon>
      <span class = "text-white  header-text">akhlshaikh28@gmail.com</span>



 <md-button class="md-accent md-raised md-hue-2 text-white pl-3 pr-3">Send Inquiry</md-button>
      </md-content>
        </div>


    </div>
  </div>

  <scroll-fix flex  class="nav-bar-contaienr" fixed="$ctrl.fixedNav">
    <div class="row">
      <div class="col-md-2 offset-md-1 ">
      <img src="images/logo.png" ng-show="$ctrl.fixedNav" alt="no image found" class="logo-in-fixed-nav">
      </div>
      <div class="col-md-6">
          <nav-menu items="$ctrl.navItems" class="nav-link-btn"></nav-menu>
      </div>

    </div>



  </scroll-fix>


<!-- <h1>{{ $ctrl.tittle }}</h1> -->


  <div flex>
    <hr class="invisible" />
    <md-content class="md-padding" style="background-color:white;">
<div class="container">
  <div class="">


  <div class="row">

    <div class="col-md-8 offset-md-2">
        <span style='font-size: 28px; font-family: "Mr Eaves XL Modern", sans-serif; font-weight:400;'>Contact us</span>
<hr />
        <dl>
<dt>Email</dt>
<dd>For product, order related queries and pretty much anything else, write to hello@urbanladder.com</dd>
<br />
<dt>Customer Support</dt>
<dd>080-67400200<br />
(Monday–Saturday, 10 AM to 8 PM)</dd>
<br />
<dt>Bulk Orders</dt>
<dd>If you are a property manager, an architect, builder, designer or any business enterprise looking to buy in bulk for your hotel, office or any other property, we'd love to help! Email us at bulk@urbanladder.com</dd>
<br />
<dt>Partnerships</dt>
<dd>If you’re an interior designer or an architect, the Design Network is for you. Partner with us, and discover an easier way to set up gorgeous homes. Click here to sign up!</dd>

</dl>
    </div>

  </div>
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <div layout="row" layout-align="end center">
        <div >

          <md-button class="md-icon-button" aria-label="More">
       <md-icon aria-label="Menu" class="material-icons " >close</md-icon>
      </md-button>

        </div>

      </div>

      <h4 class="text-md-center" style="font-weight: lighter;
    font-size: 34px;">Inqiry Form</h4>

      <form name="userForm">


             <div layout-gt-sm="row">
               <md-input-container class="md-block" flex-gt-sm>
                 <label>First name</label>
                 <input ng-model="user.firstName">
               </md-input-container>

               <md-input-container class="md-block" flex-gt-sm>
                 <label>Long Last Name That Will Be Truncated And 3 Dots (Ellipsis) Will Appear At The End</label>
                 <input ng-model="theMax">
               </md-input-container>
             </div>

             <md-input-container class="md-block">
               <label>Phone</label>
               <input ng-model="user.address">
             </md-input-container>

             <md-input-container class="md-block">
               <label>Email</label>
               <input ng-model="user.address">
             </md-input-container>



             <md-input-container class="md-block">
               <label>Address</label>
               <textarea ng-model="user.biography" md-maxlength="150" rows="5" md-select-on-focus></textarea>
             </md-input-container>



             <md-button class="md-accent md-raised md-hue-2 text-white pl-3 pr-3">Clear Form</md-button>
             <md-button class="md-accent md-raised md-hue-2 text-white pl-3 pr-3">Send us Your inquiry</md-button>

           </form>
    </div>
  </div>
</div>
</div>


    </md-content>
  </div>

  <div flex class="footer-color footer">
    <div class="container ">
<div class="row pb-3 pt-3">
  <div class="col-md-3 offset-md-2">
    <p class=" h5 mt-3 mb-3">
      Company
    </p>
    <div class="row">
      <div class="col-md-5">
        <ul class="list-unstyled">
      <li class=" footer-links " >About us </li>
      <li class=" footer-links" >Help Center</li>
      <li class=" footer-links">Site Map</li>
      </ul>
      </div>
      <div class="col-md-6">
        <ul class="list-unstyled">
      <li class=" footer-links" >Careers</li>
      <li class=" footer-links" >Team</li>
      <li class=" footer-links">Privacy Policy</li>
      </ul>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <p class="h5 mt-3 mb-3">
    More Information
    </p>
    <div class="row">
      <div class="col-md-6">
        <ul class="list-unstyled">
      <li class=" footer-links" >Payment & security </li>
      <li class=" footer-links" >Terms of use</li>
      <li class=" footer-links">Terms of offer</li>
      </ul>
      </div>
      <div class="col-md-5">
        <ul class="list-unstyled">
      <li class=" footer-links" >Contact us</li>
      <li class=" footer-links" >Visit us</li>
      <li class=" footer-links">Buy in Bulk</li>
      </ul>
      </div>
    </div>


  </div>
  <div class="col-md-3">
    <p class=" h5 mt-3 mb-3">
  Connnect with us
    </p>
    <div class="footer-social-icons">

    <ul class="social-icons" style="margin-bottom:10px;">
        <li><a href="" class="social-icon"> <i class="fa fa-facebook"></i></a></li>
        <li><a href="" class="social-icon"> <i class="fa fa-twitter"></i></a></li>
        <li><a href="" class="social-icon"> <i class="fa fa-youtube"></i></a></li>
        <li><a href="" class="social-icon"> <i class="fa fa-google-plus"></i></a></li>
    </ul>
</div>

  </div>
</div>




    </div>




  </div>

  <div flex style="background-color:#36369c; box-shadow: -2px 1px 10px -1px;">
    <div class="row">
      <div class="col-md-12 text-md-center">
          <p class="   p-2 m-0 text-white">© Copyright 2000 - 2017 RiyazEnterprise.com  </p>
      </div>

    </div>

  </div>

</div>
