<div flex class="footer-color footer">
    <div class="container ">
        <div class="row pb-3 pt-3">
            <div class="col-md-3 offset-md-2">
                <p class=" h5 mt-3 mb-3">
                    Company
                </p>
                <div class="row">
                    <div class="col-md-5">
                        <ul class="list-unstyled">
                            <li ng-click="$ctrl.go('/home')" class="footer-links">Home</li>
                            <li ng-click="$ctrl.go('/home')" class="footer-links">About us</li>
                            <li  ng-click="$ctrl.go('/contact')" class="footer-links">Contact us</li>
                            <li  ng-click="$ctrl.go('/location')" class="footer-links">Location</li>
                        </ul>
                    </div>
                    <div class="col-md-6">
                        <ul class="list-unstyled">
                            <li  ng-click="$ctrl.go('/products')" class="footer-links">Product Categories</li>
                            <li  ng-click="$ctrl.go('/brands')" class="footer-links">Featured brands</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <p class="h5 mt-3 mb-3">
                    More Information
                </p>
                <div class="row">
                    <div class="col-md-6">
                        <ul class="list-unstyled">
                            <li  ng-click="$ctrl.go('/home')" class="footer-links">FAQ</li>
                            <li  ng-click="$ctrl.go('/home')" class="footer-links">Privacy Policy</li>
                            <li  ng-click="$ctrl.go('/home')" class="footer-links">Terms of use</li>
                        </ul>
                    </div>
                    <div class="col-md-5">
                        <ul class="list-unstyled">
                            <li  ng-click="$ctrl.go('/home')" class="footer-links">Bulk orders</li>
                            <li  ng-click="$ctrl.go('/home')" class="footer-links">Feedback</li>
                            <li  ng-click="$ctrl.go('/home')" class="footer-links">Complaints</li>
                        </ul>
                    </div>
                </div>

            </div>
            <div class="col-md-3">
                <p class=" h5 mt-3 mb-3">
                    Connnect with us
                </p>
                <div class="footer-social-icons">

                    <ul class="social-icons" style="margin-bottom:10px;">
<li>
    <a href="" class="social-icon"> <i class="fa fa-facebook"></i></a>
</li>
<li>
    <a href="" class="social-icon"> <i class="fa fa-twitter"></i></a>
</li>
<li>
    <a href="" class="social-icon"> <i class="fa fa-youtube"></i></a>
</li>
<li>
    <a href="" class="social-icon"> <i class="fa fa-google-plus"></i></a>
</li>
</ul>
</div>

</div>
</div>
</div>
</div>

<div flex style="background-color:#36369c; box-shadow: -2px 1px 10px -1px;">
<div class="row">
    <div class="col-md-12 text-md-center">
        <p class="   p-2 m-0 text-white">© Copyright 2000 - 2017 RiyazEnterprise.com </p>
    </div>

</div>

</div>

</div>
