<div class="menu-panel">
  <div class="row m-0" >
    <div class="col-md-4 pl-1 pr-1">
      <md-button class="mr-0 ml-0 panel-main-menu-nav">Hindware <md-icon aria-label="Menu" class="material-icons panel-main-menu-icon">chevron_right</md-icon></md-button>
<md-divider></md-divider>
      <md-list class="panel-sub-menu-nav-container">

            <md-list-item  ng-click="$ctrl.showUserMenu($event)">
       <span class="panel-sub-menu-nav">MORE INFO</span>
     </md-list-item>

     <md-list-item  ng-click="$ctrl.navClicked()">
    <span class="panel-sub-menu-nav">MORE INFO</span>
    </md-list-item>


    <md-list-item  ng-click="$ctrl.navClicked()">
    <span class="panel-sub-menu-nav">MORE INFO</span>
    </md-list-item>


    <md-list-item  ng-click="$ctrl.navClicked()">
    <span class="panel-sub-menu-nav">MORE INFO</span>
    </md-list-item>

    <md-list-item  ng-click="$ctrl.navClicked()">
    <span class="panel-sub-menu-nav">VIEW ALL</span>
    </md-list-item>



      </md-list>

    </div>

    <div class="col-md-4 pl-1 pr-1">
    <md-button class="mr-0 ml-0 panel-main-menu-nav1">Hindware <md-icon aria-label="Menu" class="material-icons panel-main-menu-icon1">chevron_right</md-icon></md-button>
      <md-divider></md-divider>
      <md-list class="panel-sub-menu-nav-container">

        <md-list-item  ng-click="$ctrl.navClicked()">
   <span class="panel-sub-menu-nav">MORE INFO</span>
 </md-list-item>

 <md-list-item  ng-click="$ctrl.navClicked()">
<span class="panel-sub-menu-nav">MORE INFO</span>
</md-list-item>


<md-list-item  ng-click="$ctrl.navClicked()">
<span class="panel-sub-menu-nav">MORE INFO</span>
</md-list-item>


<md-list-item  ng-click="$ctrl.navClicked()">
<span class="panel-sub-menu-nav">MORE INFO</span>
</md-list-item>

<md-list-item  ng-click="$ctrl.navClicked()">
<span class="panel-sub-menu-nav">VIEW ALL</span>
</md-list-item>




      </md-list>
    </div>
    <div class="col-md-4 pl-1 pr-1">
    <md-button class="mr-0 ml-0 panel-main-menu-nav2">Hindware <md-icon aria-label="Menu" class="material-icons panel-main-menu-icon2 ">chevron_right</md-icon></md-button>
      <md-divider></md-divider>
      <md-list class="panel-sub-menu-nav-container">

            <md-list-item  ng-click="$ctrl.navClicked()">
       <span class="panel-sub-menu-nav">MORE INFO</span>
     </md-list-item>

     <md-list-item  ng-click="$ctrl.navClicked()">
    <span class="panel-sub-menu-nav">MORE INFO</span>
    </md-list-item>


    <md-list-item  ng-click="$ctrl.navClicked()">
    <span class="panel-sub-menu-nav">MORE INFO</span>
    </md-list-item>


    <md-list-item  ng-click="$ctrl.navClicked()">
    <span class="panel-sub-menu-nav">MORE INFO</span>
    </md-list-item>

    <md-list-item  ng-click="$ctrl.navClicked()">
    <span class="panel-sub-menu-nav">VIEW ALL</span>
    </md-list-item>



      </md-list>
    </div>

  </div>




</div>
