
<div class='container'>


<div class="row">
  <ul class="breadcrumb mt-4" style='background-color: #ffffff;
padding: 0px;
margin: 0px;
color:#999999'>
<li class="breadcrumb-item">Home</li>
<li class="breadcrumb-item">New</li>
<li class="breadcrumb-item ">Experience Centers</li>
<li class="breadcrumb-item ">Bedroom</li>
</ul>

  <div class="col-md-10 offset-md-1">
    <div class="text-md-center">
      <h3 class="mb-3">Furniture</h3>
    </div>

    <div class="row">
      <div class="col-md-8">
        <div layout="row" layout-align="space-between center" layout-wrap>
          <div flex="6" class="text-md-left">
            <md-button class="md-fab md-mini md-primary md-hue-2 m-0" aria-label="Eat cake">
              <md-icon aria-label="Menu" class="material-icons ">navigate_before</md-icon>
            </md-button>

          </div>
          <div flex class=" text-md-center">


      <img src="images/2.jpg" style="width:96%;" alt="">
          </div>

          <div flex="6" class="text-md-left">
            <md-button class="md-fab md-mini md-primary md-hue-2 m-0" aria-label="Eat cake">
              <md-icon aria-label="Menu" class="material-icons ">navigate_next</md-icon>
            </md-button>

          </div>
        </div>
        <hr />
        <div layout = "row" layout-align="space-between center" class="text-md-center">

        <div flex>
          <img src="images/2.jpg" alt="" class="img-thumbnail" style="height:90px; width: 112px;">
        </div>
        <div flex>
          <img src="images/2.jpg" alt=""  class="img-thumbnail" style="height:90px; width: 112px;" >
        </div>
        <div flex>
          <img src="images/2.jpg" alt="" class="img-thumbnail" style="height:90px; width: 112px;" >
        </div>
        <div flex>
          <img src="images/2.jpg" alt="" class="img-thumbnail" style="height:90px; width: 112px;" >
        </div>

        </div>
        <hr />
      </div>
      <div class="col-md-4">
        <img src="images/offer.jpg" style="width:100%;" alt="">
<span class='mb-3' style="display:inline-block">OverView</span>
        <dl class="row">

        <dt class="col-sm-6" style="color: #b2b2b2;
            font-size: 13px;">Brand</dt>
        <dd class="col-sm-6" style="font-size:13px">Hindware</dd>

        <dt class="col-sm-6" style="color: #b2b2b2;
            font-size: 13px;">Type</dt>
        <dd class="col-sm-6" style="font-size:13px">Steel strong.</dd>

        <dt class="col-sm-6" style="color: #b2b2b2;
            font-size: 13px;">Series</dt>
        <dd class="col-sm-6" style="font-size:13px">a-10-gold</dd>


      </dl>

    <hr>
    <span class='mb-3' style="display:inline-block">Description</span>
    <dl>

      <dd style="font-size:13px">
        a breif discription
      </dd>
    </dl>
      </div>
    </div>






<hr class="invisible" />
<hr class="invisible" />
<hr class="invisible" />
<div class="row">

    <div class="col-md-12">


      <div layout="row" layout-align="space-between center">
          <h3>Featured</h3>
        <button type="button" class="btn btn-outline-danger  ">Explore Combos</button>

      </div>
      <div layout="row" >

        <div class="flex">
          <card-item></card-item>
        </div>
        <div class="flex">
          <card-item></card-item>
        </div>
        <div class="flex">
          <card-item></card-item>
        </div>
      </div>


    </div>


</div>
<hr class="invisible" />
<div class="row">

    <div class="col-md-12">


      <div layout="row" layout-align="space-between center">
          <h3>Featured</h3>
        <button type="button" class="btn btn-outline-danger  ">Explore Combos</button>

      </div>
      <div layout="row" >

        <div class="flex">
          <card-item></card-item>
        </div>
        <div class="flex">
          <card-item></card-item>
        </div>
        <div class="flex">
          <card-item></card-item>
        </div>
      </div>


    </div>


</div>
<hr class="invisible" />

  </div>

</div>
</div>
