
<div class='container'>


<div class="row">
  <ul class="breadcrumb mt-4" style='background-color: #ffffff;
padding: 0px;
margin: 0px;
color:#999999'>
<li class="breadcrumb-item">Home</li>
<li class="breadcrumb-item">New</li>
<li class="breadcrumb-item ">Experience Centers</li>
<li class="breadcrumb-item ">Bedroom</li>
</ul>

  <div class="col-md-10 offset-md-1">

    <div layout="row" layout-align="space-between center" layout-wrap>
      <div flex="6" class="text-md-left">
        <md-button class="md-fab md-mini md-primary md-hue-2 m-0" aria-label="Eat cake">
          <md-icon aria-label="Menu" class="material-icons ">navigate_before</md-icon>
        </md-button>

      </div>
      <div flex class=" text-md-center">
        <h3 class="mb-3">Furniture</h3>

  <img src="images/2.jpg" style="width:96%;" alt="">
      </div>

      <div flex="6" class="text-md-left">
        <md-button class="md-fab md-mini md-primary md-hue-2 m-0" aria-label="Eat cake">
          <md-icon aria-label="Menu" class="material-icons ">navigate_next</md-icon>
        </md-button>

      </div>
    </div>

<hr />
<div layout = "row" layout-align="space-between center">

<div flex>
  <img src="images/2.jpg" alt="" style="height:124px; width: 180px;">
</div>
<div flex>
  <img src="images/2.jpg" alt=""  style="height:124px; width: 180px;" >
</div>
<div flex>
  <img src="images/2.jpg" alt="" style="height:124px; width: 180px;" >
</div>
<div flex>
  <img src="images/2.jpg" alt="" style="height:124px; width: 180px;" >
</div>

</div>

<hr class="invisible" />
<hr class="invisible" />
<hr class="invisible" />
<div class="row">

    <div class="col-md-12">


      <div layout="row" layout-align="space-between center">
          <h3>Featured</h3>
        <button type="button" class="btn btn-outline-danger  ">Explore Combos</button>

      </div>
      <div layout="row" >

        <div class="flex">
          <card-item></card-item>
        </div>
        <div class="flex">
          <card-item></card-item>
        </div>
        <div class="flex">
          <card-item></card-item>
        </div>
      </div>


    </div>


</div>
<hr class="invisible" />
<div class="row">

    <div class="col-md-12">


      <div layout="row" layout-align="space-between center">
          <h3>Featured</h3>
        <button type="button" class="btn btn-outline-danger  ">Explore Combos</button>

      </div>
      <div layout="row" >

        <div class="flex">
          <card-item></card-item>
        </div>
        <div class="flex">
          <card-item></card-item>
        </div>
        <div class="flex">
          <card-item></card-item>
        </div>
      </div>


    </div>


</div>
<hr class="invisible" />

  </div>

</div>
</div>
