<div class="row">

  <div class="col-md-12">
    <div layout="row" layout-align="end center">
      <div>

        <md-button class="md-icon-button" aria-label="More">
          <md-icon aria-label="Menu" class="material-icons " ng-click="ctrl.closePanel()">close</md-icon>
        </md-button>

      </div>

    </div>
  </div>

  <div class="col-md-12 pl-5 pr-5">


    <h4 class="text-md-center" style="font-weight: lighter;
    font-size: 34px;">Message Us!!</h4>

<form name="userForm">



    <md-input-container class="md-block" >
      <label>From</label>
      <input ng-model="user.firstName">
    </md-input-container>




  <md-input-container class="md-block">
    <label>Phone</label>
    <input ng-model="user.address">
  </md-input-container>

  <md-input-container class="md-block">
    <label>Email</label>
    <input ng-model="user.address">
  </md-input-container>

  <md-input-container class="md-block">
    <label>Message</label>
    <textarea ng-model="user.biography" md-maxlength="150" rows="5" md-select-on-focus></textarea>
  </md-input-container>

  <md-button class="md-accent md-raised md-hue-2 text-white pl-3 pr-3">Clear</md-button>
  <md-button class="md-accent md-raised md-hue-2 text-white pl-3 pr-3">Send</md-button>

</form>
</div>
</div>
