<!-- <h1>{{ $ctrl.tittle }}</h1> -->
<div flex>
  <!-- <div class="home-page-banner" >
  </div> -->
</div>
<div flex>
  <div class="carousel-demo" style="width:100%;">
    <ul rn-carousel rn-carousel-index="carouselIndex" rn-carousel-controls rn-carousel-auto-slide rn-carousel-pause-on-hover
      rn-carousel-buffered class="carousel2">
      <li ng-repeat="slide in slides track by slide.id">
        <div ng-style="{'background-image': 'url(' + slide.img + ')'}" class="bgimage home-page-banner">
        </div>
      </li>
    </ul>
    <div rn-carousel-indicators ng-if="slides.length > 1" slides="slides" rn-carousel-index="carouselIndex"></div>
  </div>
</div>

<div flex>
  <hr class="invisible" />
  <md-content class="md-padding" style="background-color:white;">
<div class="text-md-center">
  <span class="card-item-tittle ">View by category</span>
</div>

<div layout="row" layout-align="space-between center">
  <div flex="5" class="text-md-left">
    <md-button class="md-fab md-mini md-primary md-hue-2" aria-label="Eat cake">
      <md-icon aria-label="Menu" class="material-icons ">navigate_before</md-icon>
    </md-button>

  </div>
  <div flex layout="row">
    <div flex class="text-md-center">
      <md-card>
        <img  ng-click="$ctrl.showDetails('header')" ng-src="images/1.jpg" class="md-card-image" alt="Washed Out">
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">Living Room</span>
          </md-card-title-text>
        </md-card-title>
        <md-card-content>
          <md-button ng-click="$ctrl.showDetails('header')" class="md-raised md-warn card-item-btn">Show</md-button>
        </md-card-content>
      </md-card>
    </div>

    <div flex style="text-align:center">
<md-card>
  <img ng-click="$ctrl.showDetails('header')" ng-src="images/2.jpg" class="md-card-image" alt="Washed Out">
  <md-card-title>
    <md-card-title-text>
      <span class="md-headline">Kitchen</span>
    </md-card-title-text>
  </md-card-title>
  <md-card-content>


    <md-button ng-click="$ctrl.showDetails('header')" class="md-raised md-warn card-item-btn">Shop Now</md-button>


  </md-card-content>

</md-card>

</div>


<div flex style="text-align:center">
<md-card>
  <img ng-click="$ctrl.showDetails('header')" ng-src="images/3.jpg" class="md-card-image" alt="Washed Out">
  <md-card-title>
    <md-card-title-text>
      <span class="md-headline">Bathroom</span>
    </md-card-title-text>
  </md-card-title>
  <md-card-content>


    <md-button ng-click="$ctrl.showDetails('header')" class="md-raised md-warn card-item-btn">Show</md-button>
  </md-card-content>

</md-card>

</div>
</div>



<div flex="5" class="text-md-right">
  <md-button class="md-fab md-mini md-primary md-hue-2 " aria-label="Eat cake">
    <md-icon aria-label="Menu" class="material-icons ">navigate_next</md-icon>
  </md-button>


</div>
</div>





</md-content>

<hr class="invisible" />

<md-content class="md-padding" style="background-color:white;">
<div class="text-md-center">
  <span class="card-item-tittle ">View by brand</span>
</div>



<div layout="row" layout-align="space-between center">
  <div flex="5" class="text-md-left">
    <md-button class="md-fab md-mini md-primary md-hue-2" aria-label="Eat cake">
      <md-icon aria-label="Menu" class="material-icons ">navigate_before</md-icon>
    </md-button>

  </div>
  <div flex layout="row">
    <div flex class="text-md-center">
      <md-card>
        <img ng-click="$ctrl.showDetails('header')" ng-src="images/1.jpg" class="md-card-image" alt="Washed Out">
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">Hindware</span>
          </md-card-title-text>
        </md-card-title>
        <md-card-content>
          <md-button ng-click="$ctrl.showDetails('header')" class="md-raised md-warn card-item-btn">Show</md-button>
        </md-card-content>

      </md-card>

    </div>


    <div flex style="text-align:center">
<md-card>
  <img ng-click="$ctrl.showDetails('header')" ng-src="images/2.jpg" class="md-card-image" alt="Washed Out">
  <md-card-title>
    <md-card-title-text>
      <span class="md-headline">Jaqur</span>
    </md-card-title-text>
  </md-card-title>
  <md-card-content>
    <md-button ng-click="$ctrl.showDetails('header')" class="md-raised md-warn card-item-btn">Show</md-button>
  </md-card-content>

</md-card>

</div>


<div flex style="text-align:center">
<md-card>
  <img ng-click="$ctrl.showDetails('header')" ng-src="images/3.jpg" class="md-card-image" alt="Washed Out">
  <md-card-title>
    <md-card-title-text>
      <span class="md-headline">Bayern</span>
    </md-card-title-text>
  </md-card-title>
  <md-card-content>
    <md-button ng-click="$ctrl.showDetails('header')" class="md-raised md-warn card-item-btn">Show</md-button>
  </md-card-content>

</md-card>

</div>
</div>

<div flex="5" class="text-md-right">
  <md-button class="md-fab md-mini md-primary md-hue-2 " aria-label="Eat cake">
    <md-icon aria-label="Menu" class="material-icons ">navigate_next</md-icon>
  </md-button>

</div>
</div>

</md-content>
</div>
