<div ng-cloak layout="row" layout-wrap>

  <div flex="auto" style="background-color:white;">
    <md-content class="md-padding pr-0" style="background-color:white; box-shadow: 12px -6px 21px -20px;;
    height: 100%; z-index:5;">


      <md-list >
  <md-subheader class="md-no-sticky panel-supheader" style="background-color:white;">CATEGORIES</md-subheader>

        <md-list-item style="padding-right: 28px;
    padding-left: 16px;" class="md-1-line panel-menu-category-nav"  ng-repeat="menuItem in ctrl.menuItems track by menuItem.id"
        ng-mouseover="ctrl.mainItemClick(menuItem)">
          <div class="md-list-item-text" layout="column">
            <span class="panel-item-list-text">{{menuItem.title}}</span>
          </div>
        </md-list-item>
      </md-list>
    </md-content>

  </div>

  <!--<md-divider flex="none" md-inset style="margin:0px"></md-divider>-->
<!-- <div flex="auto" class="panel-horizontal-divider">

</div> -->
<div flex="auto" layout="row"  style="background-color:#fafafa;" layout-wrap>
  <md-content flex layout="row" class="md-padding" style="background-color: #fafafa; " >
  <div flex  ng-repeat="item in ctrl.subItem">

      <md-list class="">
        <md-subheader style="background-color: #fafafa;" class="md-no-sticky panel-supheader">{{item.title}}</md-subheader>
        <md-list-item ng-repeat="prod in item.products track by prod.id" class="md-1-line " >
          <div class="md-list-item-text" layout="column">
            <span class="panel-item-list-text  panel-sub-menu-nav-2">{{prod.name}}<span>
          </div>
        </md-list-item>
        <md-list-item  class="md-1-line" >
          <div class="md-list-item-text" layout="column">
            <span class="panel-item-list-text"><strong>view All</strong><span>
          </div>
        </md-list-item>
      </md-list>
      <md-list></md-list>




    </div>
  </md-content>


  </div>

  <div flex="auto" style="background-color:#fafafa;" layout-wrap>
    <md-content class="md-padding" style="background-color: #fafafa;" >
        <img src="images/45.jpg" class="mt-3" style="height=140px; width:220px;" alt=""></md-content>

  </div>

</div>
<!--<div class="menu-panel" id="menu-1" ng-click="ctrl.panelClick($event)">
  <div class="row m-0">
      <div class="col-md-4 pl-1 pr-1">
        <md-button ng-click="ctrl.closeUserMenu($event)" class="mr-0 ml-0 panel-main-menu-nav">Hindware
          <md-icon aria-label="Menu" class="material-icons panel-main-menu-icon">chevron_right</md-icon>
        </md-button>
        <md-button ng-click="$ctrl.closeUserMenu($event)" class="mr-0 ml-0 panel-main-menu-nav">Jaqur
          <md-icon aria-label="Menu" class="material-icons panel-main-menu-icon">chevron_right</md-icon>
        </md-button>
        <md-button class="mr-0 ml-0 panel-main-menu-nav">Bayern
          <md-icon aria-label="Menu" class="material-icons panel-main-menu-icon">chevron_right</md-icon>
        </md-button>
        <md-button class="mr-0 ml-0 panel-main-menu-nav">Parryware
          <md-icon aria-label="Menu" class="material-icons panel-main-menu-icon">chevron_right</md-icon>
        </md-button>
        <md-button class="mr-0 ml-0 panel-main-menu-nav">CERA
          <md-icon aria-label="Menu" class="material-icons panel-main-menu-icon">chevron_right</md-icon>
        </md-button>
      </div>
  </div>
</div>-->
