<div flex>
  <hr class="invisible" />
  <md-content class="md-padding" style="background-color:white;">
<div class="container">
  <div class="">


    <div class="row">

      <div class="col-md-8 offset-md-2">
        <!-- <span style='font-size: 28px; font-family: "Mr Eaves XL Modern", sans-serif; font-weight:400;'>About us</span> -->
<!-- <hr /> -->
<dl>
  <dt class="tittle-style">About Us</dt>
  <dd  class="text-justify" >‘Home is where the heart is’, sang Elvis, and who are we to disagree. When the founder (Riyaz and Brothers) were trying to set up their homes in Goa, they spent a lot of effort trying to get quality furniture and home decor.<br /> <br /> Conversations with friends gave one clear message – there is a big need for good quality, well-designed, competitively priced and dependable furniture. Indian home-makers are looking for a solution that could help them make beautiful homes, without too much hassle. Existing brands were either poor on quality and service or too highly priced.<br /><br />

Wondering if there could be a better solution, the founders spent close to 6 months understanding the very basics of the furniture industry and the home décor space, from the raw materials stage through the entire manufacturing process to packaging and shipping the products across India. After some intense planning, trials and discussions with the best manufacturers across India and the world, and hundreds of consumer interviews, the founders narrowed down on a solution that could get distinctive products, manufactured well at prices that consumers would find practical.</dd>
  <br />
  <dt class="tittle-style" >Our Values</dt>
  <dd><dt class="sub-tittle-style">
    Customer obsession:
  </dt><dd  class="text-justify" >
    We will consistently strive to ensure that our customers are delighted at the end of every little interaction with us. We are all ears to any feedback that can help improve every interaction.
  </dd>

  <dt class="sub-tittle-style">
  Honesty and transparency:
</dt><dd class="text-justify" >
    We will consistently strive to ensure that our customers are delighted at the end of every little interaction with us. We are all ears to any feedback that can help improve every interaction.
    What we know and what we do is out there. We place a premium on sharing information honestly with all stakeholders.
  </dd>

  <dt class="sub-tittle-style">
Excellence in every small thing we do:
  </dt><dd class="text-justify" >
  We indulge in attention to detail at every step of our journey. Hundreds of such small steps ensure that every customer gets great furniture and great service.
  </dd>

 </dd>
  <br />
  <dt class="tittle-style" >Partner with us</dt>
  <dd class="text-justify" >Everyday, we add stunning new products to our range to help our customers make their homes beautiful. If you would like like to partner with us and join our journey of making a million beautiful homes, write to us at riyazEnterprise@gmail.com</dd>

</dl>
</div>

</div>


</div>
</div>
</md-content>
</div>
