<div flex>
  <hr class="invisible" />
  <md-content class="md-padding" style="background-color:white;">
<div class="container">
  <div class="">


    <div class="row">

      <div class="col-md-8 offset-md-2">
        <span style='font-size: 28px; font-family: "Mr Eaves XL Modern", sans-serif; font-weight:400;'>Contact us</span>
<hr />
<dl>
  <dt>Email</dt>
  <dd>For product, order related queries and pretty much anything else, write to hello@urbanladder.com</dd>
  <br />
  <dt>Customer Support</dt>
  <dd>080-67400200<br /> (Monday–Saturday, 10 AM to 8 PM)</dd>
  <br />
  <dt>Bulk Orders</dt>
  <dd>If you are a property manager, an architect, builder, designer or any business enterprise looking to buy in bulk for your
    hotel, office or any other property, we'd love to help! Email us at bulk@urbanladder.com</dd>
  <br />
  <dt>Partnerships</dt>
  <dd>If you’re an interior designer or an architect, the Design Network is for you. Partner with us, and discover an easier
    way to set up gorgeous homes. Click here to sign up!</dd>

</dl>
</div>

</div>


</div>
</div>
</md-content>
</div>
